# -*- coding: utf-8 -*-

[inherit]
file = /etc/trac/trac.ini

[project]
admin = PatkeS@smh.ca
admin_trac_url = .
descr = My example project
footer = Visit the Trac open source project at<br /><a href="http://trac.edgewall.org/">http://trac.edgewall.org/</a>
icon = common/trac.ico
name = <%= @project_name %>
url = 


